@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("//fonts.googleapis.com/css?family=Lora");

* {
  margin: 0;
  padding: 0;
  cursor: default;
}

.display-modal {
  display: none;
}

.opacity {
  opacity: 0.4;
}

.Navbar {
  max-width: 1455px;
  margin: 0 auto;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: white;
  z-index: 10;
  -webkit-transition: height 1s;
}

@media (min-width: 1455px) {
  .Navbar {
    right: calc((100vw - 1460px) / 2);
  }
}

.logo {
  height: 80%;
  margin: 10px;
}
.logo img {
  height: 100%;
}

.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-nav a {
  text-align: center;
  text-decoration: none;
  margin: 0px 20px -15px;
  color: #49a8b5;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.menu-nav img {
  width: 21px;
  height: 15px;
  margin: 0 10px;
  position: relative;
  top: -10%;
}

.menu-nav a p {
  color: #f7c04f;
  font-size: 2em;
}

.seccion {
  padding-top: 10vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 90vh;
  display: flex;
}

.seccion1 {
  padding-top: 20vh;
  height: 80vh;
  width: 100%;
}

.home-img {
  width: 60%;
}
.home-img img {
  width: 100%;
  z-index: -20;
}

.home-text {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.home-text-main {
  position: relative;
  height: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}

.home-text-main img {
  position: absolute;
  height: 100%;
  width: 120%;
  margin-left: -20%;
}

.home-text-main p {
  font-family: "Lora", arial;
  word-spacing: 0.4em;
  line-height: 1.5em;
  font-size: 1.3em;
  font-weight: bolder;
  padding-top: 3%;
  padding-right: 5%;
  color: rgb(30, 30, 30);
}

.home-text-second {
  height: 50%;
}

.home-text-second p {
  padding-top: 3%;
  font-family: "Lora", arial;
  line-height: 1.5em;
  padding-right: 18%;
  color: rgb(100, 100, 100);
}

#aboutus {
  display: flex;
  flex-wrap: wrap;
}

.aboutus-text {
  display: flex;
  position: relative;
  width: 50%;
  align-items: center;
}

.aboutus-text img {
  position: absolute;
  width: 263px;
  height: 271px;
}

.aboutus-text p {
  padding: 10%;
  line-height: 2.5em;
  font-family: "Lora", arial;
  font-weight: bolder;
  color: rgb(80, 80, 80);
}

.members-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.members {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  align-items: center;
}

.members img {
  width: 50%;
  border-radius: 999px;
  border: 10px solid rgb(253, 237, 200);
}

.members h1 {
  padding-top: 0.5em;
  font-size: 0.9em;
  font-family: "Lora", arial;
  font-weight: bolder;
  color: rgb(80, 80, 80);
}

.members h2 {
  padding-top: 0.5em;
  font-size: 0.9em;
  font-family: "Lora", arial;
  font-weight: lighter;
  color: rgb(80, 80, 80);
}

.aboutus-complement {
  margin-top: 3%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20%;
  height: 10%;
  font-family: "Lora", arial;
  font-weight: lighter;
  color: rgb(80, 80, 80);
}

.aboutus-complement img {
  height: 100%;
}

#services {
  flex-direction: column;
}

.service1,
.service2 {
  display: flex;
  flex-direction: row;
  max-width: 86%;
  margin: 1.5% 0;
  color: rgb(100, 100, 100);
}

.service1 {
  height: 334px;
  border: 3px solid #49a8b5;
  border-left: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.service1 div {
  padding-left: 2%;
}

.service1 img {
  height: 82%;
  padding: 2.5%;
  margin-left: 2%;
}

.service1 div h1,
.service2 div h1 {
  font-size: 24px;
  font-family: "Lora", arial;
  font-weight: bolder;
  margin: 2% 0 4%;
}
.service2 div h1 {
  margin: 25px 0 4%;
}

.service1 div p,
.service2 div p {
  font-size: 1.5em;
  font-family: "Lora", arial;
  font-weight: lighter;
  word-spacing: em;
  line-height: 1.5em;
}

.service2 {
  height: 281px;
  margin-left: 15%;
  justify-content: right;
  border: 3px solid #f7c04f;
  border-right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.service2 div {
  padding-right: 3%;
}

.service2 img {
  height: 76%;
  padding: 3%;
  margin-right: 2%;
}

.seccion-position {
  position: relative;
}

.projects-contenido {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.projects-img {
  max-width: 1440px;
  width: 100%;
  height: 80vh;
}

.project {
  width: 50%;
  margin: 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.project img {
  width: 287px;
  height: 360px;
  margin: 0 auto;
  margin-top: 40px;
}

.project p {
  width: 86%;
  margin: 4% 7% 0;
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 2em;
  color: rgba(0, 0, 0, 0.53);
}

.help-questions {
  padding: 10% 0;
  width: 70%;
  height: 50%;
  margin-top: 100px;
}

.help-questions p {
  margin: 4%;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 0.53);
}

.help-form {
  width: 28%;
  height: 80vh;
  margin-top: 150px;
  position: relative;
}

.help-modal {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(73, 168, 181, 1),
    rgba(247, 192, 79, 1)
  );
}

.help-modal div {
  width: calc(100% - 10px);
  height: calc(500px - 10px);
  margin: 5px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suscribe-modal {
  position: absolute;
  left: calc((100% - 386px) / 2);
  width: 386px;
  height: 504px;
  margin-top: 100px;
  background: linear-gradient(
    to right,
    rgba(73, 168, 181, 1),
    rgba(247, 192, 79, 1)
  );
}
.suscribe-modal div {
  width: 376px;
  height: 494px;
  margin: 5px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help-modal p,
.suscribe-modal p {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: rgba(0, 0, 0, 0.53);
}
.help-modal span,
.suscribe-modal span {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.53);
}

.contact-info input[type="text"],
.help-form input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #f7c04f;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.53);
  cursor: pointer;
  margin-bottom: 0.5em;
}

.contact-info input[type="text"]:active,
.help-form input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 0;
}

.help-form input[type="radio"] {
  display: none;
}

.help-form input[type="radio"]:checked + .label-radio::before {
  background: rgba(73, 168, 181, 0.6);
}

.label-radio {
  padding: 15px 15px 15px 50px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.label-radio::before {
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background: none;
  border: 3px solid #f7c04f;
  border-radius: 50%;
  position: absolute;
  left: 17px;
}

.help-form label {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #cccccc;
}

.btn-form,
.btn-contact {
  width: 239px;
  height: 64px;
  margin: 0 auto;
  background: linear-gradient(
    to right,
    rgba(73, 168, 181, 1),
    rgba(247, 192, 79, 1)
  );
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-form-bg,
.btn-contact-bg {
  width: 229px;
  height: 44px;
  margin: 5px;
  padding-top: 10px;
  background: white;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.53);
  cursor: pointer;
}

.contact-img {
  width: 100%;
  max-width: 1440px;
  margin-top: 50px;
}

.contact-info {
  position: absolute;
  z-index: 10;
  top: 175px;
  left: calc((100% - 563px) / 2);
  width: 563px;
  height: 289px;
}

.contact-info-p {
  height: 120px;
  margin-bottom: 27px;
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.53);
}

.contact-info input {
  height: 45px;
}

.contact-info input::placeholder {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #cccccc;
}

.btn-contact {
  margin-top: 23px;
}

.contact-redesSociales {
  position: absolute;
  bottom: 15vh;
  left: calc(100% - 464px);
}
.contact-redesSociales-links {
  width: 464px;
  height: 67px;
  border-radius: 20px 0px 0px 20px;
  background: linear-gradient(
    to right,
    rgba(73, 168, 181, 1),
    rgba(247, 192, 79, 1)
  );
  display: flex;
  align-items: center;
}
.contact-fondoGris {
  width: 461px;
  height: 61px;
  margin: 3px 0 3px 3px;
  border-radius: 20px 0px 0px 20px;
  background: #e5e5e5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contact-redesSociales-links a,
.contact-redesSociales-links img {
  width: 55px;
  height: 55px;
}

.suscribe-modal {
  z-index: 10;
  left: calc((100% - 616px) / 2);
  width: 616px;
  height: 298px;
  margin-top: 180px;
}

.suscribe-modal div {
  width: 606px;
  height: 288px;
}

.suscribe-modal p {
  width: 440px;
}
